@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.project-feed {
  &__h1 {
    @include margin-top(0);
  }

  &__item {
    @include margin-bottom(1.25);
    border: 1px solid $color-gray-border;
    @include margin-left(-0.5);
    @include margin-right(-0.5);
    @include padding(0.5, 0.5);

    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;
      }

    }

    &-content {
      &-description {
        font-size: $typographic-base-font-size;
        @include line-height(1);
        @include margin-bottom(.75);

        & div {
          display: flex;
          justify-content: space-between;
        }

        &-technologies {
          font-style: italic;
        }

        &-github {
          display: flex;
          align-content: center;
          & span {
            @include margin-left(.75);
          }
        }
      }

      &-body {
        & img {
          max-width: 100%;
        }
        & p {
          text-align: center;
          font-size: 0.75rem;
        }
      }
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}